.heroContainer{
    align-items: center;
    justify-content: center;
}

.heroSection{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heroImage{
    height: 212px;
    width: 212px;
}